html {
    position: relative;
    min-height: 100%;
}

body {
    width: 100% !important;
    background-color: #262626 !important;
    color: #f2f2f2;
}


.loader {
    width: 100%;
    height: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}